@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora&family=Rowdies&display=swap');

/* Resetting the document */
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 50em;
}

/* Style the header */
header {
  background: linear-gradient(25deg, #ff8811 0%,
                                     #02a9ea 50%, 
                                     #98e2c6 100%);
  padding: 30px 40px;
  color: white;
  text-align: center;
  border-spacing: 3em;
  border-radius: 4em;
}

h1, h2 {
  font-family: 'Rowdies', cursive;
  letter-spacing: 2px;
  margin-bottom: 15px;;
}

h2 {
  text-align: center;
  background: -webkit-linear-gradient(25deg, #ff8811 0%,
  #02a9ea 50%, 
  #98e2c6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  

}

input {
  width: 75%;
  margin-right: 0;
  padding: 10px;
  border: none;
  font-size: 14px;
  font-family: 'Bebas Neue', cursive;
}

.addBtn {
  width: 25%;
  padding: 10px;
  margin-left:0;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
}

.addBtn:hover {
  background-color: #bbb;
  color: #FFF;
}

.sortBtn {
  width: 25%;
  padding: 10px;
  margin-left:0;
  background: #a7a5a5;
  color: rgb(61, 60, 60);
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  
}

.sortBtn:hover {
  background-color: #bbb;
  color: #FFF;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 14px;
  transition: 0.2s;
  font-family: 'Bebas Neue', cursive;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #b2bec3;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* Completed strikeout */
ul li.checked {
  background: #888;
  color: #98e2c6;
  text-decoration: line-through;
}

/* Add Check Mark */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #ff8811;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* trash button */
.far {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  color:#ff8811;
}

.far:hover {
  background-color: #02a9ea;
  color: white;
}